h1 careers
p please fill out the following so we can get to know you!
br

form#job_app.form-horizontal
  .control-group
    label.control-label(for="full_name") full name:
    .controls
      input(type="text", placeholder="ex. Julia Child", name="name", required)

  .control-group
    label.control-label(for="email") email:
    .controls
      input(type="email", placeholder="ex. julia@food.com", name="email", required)

  .control-group
    label.control-label(for="phone") phone:
    .controls
      input(type="tel", placeholder="ex. +1 (234) 567-8910", name="phone", required)
  
  .control-group
    label.control-label(for="birthday") birthday:
    .controls
      input(type="date", placeholder="ex. 09/15/1912", name="birthday", required)
  
  .control-group
    label.control-label(for="address") street:
    .controls
      input(type="text", placeholder="ex. 103 Irving St. Apt #1", name="street", required)
   
  .control-group
    label.control-label(for="city_state_zip") city, state, zip:
    .controls
      input(type="text", placeholder="ex. Cambridge, MA 02138", name="city_state_zip", required)
          
  .control-group
    .controls
      textarea(name="question1", required, placeholder="What was the best meal you've ever had?")

  .control-group
    label.control-label(for="position") position:
    .controls
      select(name='position', required)
        option(value='') -- Pick One --
        option(value='Management') management
        option(value='Head Chef') head chef
        option(value='Sous Chef') sous chef
        option(value='Wait Staff') wait staff
        option(value='Host') host
        option(value='Dishwasher') dishwasher
        option(value='Busser') busser

  .control-group
    .controls
      textarea(name="question2", required, placeholder="What kind of experience do you have in the restaurant business?")

  .control-group
    .controls
      textarea(name="question3", required, placeholder="Why do you want to work at tulip? Include other info you want us to know as well.")
  
  .control-group
    label.control-label(for="resume") resume link:
    .controls
      input(type="url", name="resume", placeholder="dropbox, website, etc")

  .control-group
    .controls
      button(type="submit") Send
