.center
	h3 - a breakfast and lunch café - 
	h4 small business in indianapolis since 2008

h3 january 1, 2013			

blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
	small Someone famous

blockquote
	.row-fluid
		.span2.title special:
		.span10.info blah
	.row-fluid
		.span2.title soup:
		.span10.info blah
	.row-fluid
		.span2.title carrots:
		.span10.info blah
