extends layout

block content
	.container
		.header
			a.logo(href="/")
				img(src="img/logo.png")
		
		.about
			.nav.row-fluid 
				//-a.navlink.active(href="#home") home
				a.navlink(href="#story") story
				a.navlink(href="#menus") menus
				a.navlink(href="#staff") staff
				a.navlink(href="#info") info
		
			.main
				#home.tab
					include home
				#story.tab.hide
					include story
				#menus.tab.hide
					include menus
				#staff.tab.hide
					include staff
				#info.tab.hide
					include info
				#feedback.tab.hide
					include feedback
				#careers.tab.hide
					include careers
				#catering.tab.hide
					include catering

			
			ul.unstyled.ticker
				


			hr
			.foot
				a.navlink(href="http://fb.com/tulipnoircafe", data-external="true", target="_blank") facebook
				a.navlink(href="http://blog.tulipnoircafe.com", data-external="true", target="_blank") blog
				|  | 
				a.navlink(href="#feedback") feedback
				a.navlink(href="#careers") careers
				a.navlink(href="#catering") catering

