.row-fluid
	.span4
		h1 hours
		p tuesday-friday: 7:00-2:30 </br> saturday-sunday: 8:00-2:00

	.span4
		h1 location
		p 1224 w. 86th st. </br> indianapolis, in 46260
	.span4
		h1 contact
		p 317.848.5252


