h1 menus - #{season}


.row-fluid
	.span4
		h3 tuesday-friday: 
		p
			a(href='menus/breakfast', target='_blank') breakfast
		p
			a(href='menus/lunch', target='_blank') lunch 

	.span4
		h3 saturday-sunday: 
		p 
			a(href='menus/brunch', target='_blank') brunch

	.span4
		h3 all week:
		p
			a(href='menus/beverages', target='_blank') beverages

//-div
	.row-fluid
		.span3.title tuesday-friday: 
		.span9.info
			a(href='menus/breakfast', target='_blank') breakfast
			| , 
			a(href='menus/lunch', target='_blank') lunch 

	.row-fluid
		.span3.title saturday-sunday: 
		.span9.info 
			a(href='menus/brunch', target='_blank') brunch
	
	.row-fluid
		.span3.title all week:
		.span9.info
			a(href='menus/beverages', target='_blank') beverages
