h1 menus


.row-fluid
	.span4
		h3 tuesday-friday: 
		p
			a(href='menus/breakfast', target='_blank') breakfast
		p
			a(href='menus/lunch', target='_blank') lunch 

	.span4
		h3 saturday-sunday: 
		p 
			a(href='menus/brunch', target='_blank') brunch

	.span4
		h3 all week:
		p
			a(href='menus/beverages', target='_blank') beverages

