h1 menus


.row-fluid
	.span6
		h3 food: 
		p every day we offer a delicious special, two soups, and a collection of freshly baked items
		p
			a(href='menus/menu', target='_blank') explore our daily menu
	.span6
		h3 drink:
		p we have a selection of locally-roasted coffees, tea, and other beverages
		p
			a(href='menus/beverages', target='_blank') view our drink selection

