h1 staff
p the tulip noir staff is dedicated and talented. the daily creations from our kitchen are both tasty and pleasing to the eye. our wait staff are welcoming and knowledgeable about our product. our success is based on our quality of food and the care we give in serving you. we truly believe when you eat well, you will be well.