h1 story
p ...it's the little things that set tulip noir café apart!
ul 
	li our menus change seasonally, with new entrees, coffees and teas every season
	li specials every friday and sunday
	li fresh herbs, fruits, vegetables or juices are used in all of our foods.
	li our chicken, seafood, dairy products, omega-3 eggs, syrups, oatmeal, flours, sugar, jams, and juices are either natural or organically certified
	li all of our teas are organic and our coffees are natural, ethically traded or free trade
	li all of our salad dressings, sandwich spreads, soups and desserts are made on site daily
	li we aim to provide gluten free/dairy free options, vegan options, and allergy friendly options; please notify your wait staff of allergies
	li we prepare every meal fresh for every customer
	li we make many efforts towards being "green", by conserving energy on a daily basis, all of our to-go boxes and cups are eco-friendly and biodegradable, we use french presses and tea pots that produce no waste and the design of our restaurant itself addresses "green" concepts
	li and most of all, the staff at tulip noir wants you to know that a healthy meal can taste divine!